.card {
background-color: var(--accent-col);
width: 40%;
display: flex;
gap: 5px;
}

.left {
width: 50%;
}
.newCont {
background-color: var(--red-accent);
}
.newHead {
color: var(--light)
}
.img {
width: 100%;
}

.right {

}
.title {
color: var(--dark);
}
.desc {
color: var(--dark-soft)
}
.btn {
background-color: var(--btn);
border: 2px solid var(--btn);
color: var(--light);
padding: 5px 7px;
}
.btn:hover {
background-color: var(--accent-col);
border: 2px solid var(--btn);
color: var(--dark);
cursor: pointer;
}
.btn:active {
background-color: var(--btn);

border: 2px solid var(--btn);
color: var(--dark-soft);

}
.contBtn {

}
.price {

}