.logo {
}

.navbar {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent-col);
}
.searchBar {
  height: 34px;
}
.topMenuDiv {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.MenuItems {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.SearchIcon {
  width: 34px;
}
.SearchIcon:hover {
  cursor: pointer;
}

.iconSize {
  width: 42px;
}

.navText {
  font-size: 20px;
}
.priceRed {
  color: var(--red-accent);
  text-decoration: line-through;
}