:root {
  --Main-col: #f8eee5;    
  --accent-col: #a77c68;    
  --btn: #674a3d;
  --red-accent: #a85048;     
  --green-accent: #a5eaa2;       
  --dark: #2b2b2b;      
  --dark-soft: #555555;      
  --light: #ffffff;     
}
