:root {
  --Main-col: #fbf8f5;    
  --accent-col: #a77c68;    
  --btn: #674a3d;
  --red-accent: #a85048;     
  --green-accent: #4a6a5a;       
  --dark: #2b2b2b;      
  --dark-soft: #555555;      
  --light: #ffffff;     
}
